/*

!.gitignore
!.bash_profile
!.bashrc
!.nanorc
!.vimrc

!.config/
.config/*
!.config/foot/
!.config/sway/
!.config/swaylock/
!.config/waybar/
!.config/wofi/
!.config/nvim/
!.config/dunst/
!.config/swayimg/
!.config/yazi/

!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/foots
